
{% macro sub_view (view, _cntx) %}
	<div id="{{ view.id }}" class="{{ view.show ? '' : 'hidden' }}">
		{% for component in view.components %}
			{% include component.template with { 'component': component, '_cntx': _cntx } %}
		{% endfor %}
		{#
			{% if view.layout is not empty %}
				{% include view.layout %}
			{% endif %}
		#}
	</div>
{% endmacro sub_view %}

{% macro inject_globals (globals, _cntx) %}
	{% if globals is iterable %}
		{% for name, value in globals %}
			{% if value [0] %}
				{% if value [1] == 'string' %}
					var {{ name }} = "{{ value [2] | raw }}";
				{% else %}
					var {{ name }} = {{ value [2] | raw }};
				{% endif %}
			{% else %}
				var {{ name }} = {{ value [2] | json_encode() | raw }};
			{% endif %}
		{% endfor %}
	{% endif %}
{% endmacro inject_globals %}

{% macro navigation (items, _cntx) %}
	{% import _self as generators %}
	{%- spaceless %}
	<ul>
		{% if items is iterable %}
			{% for target, text in items %}
		<li>{{- generators.link (target, text, _cntx) -}}</li>
			{% endfor %}
		{% endif %}
	</ul>
	<div class="float-clear"></div>
	{% endspaceless -%}
{% endmacro navigation %}

{% macro collapse_navigation (heading, sections, _cntx) %}
	{% import _self as generators %}
	{%- spaceless %}
	<h3>{{ heading }}</h3>
	{% if sections is iterable %}
	<ul>
			{% for s in sections %}
		<li>{{ generators.collapse_menu (s.heading, s.items, _cntx) }}</li>
			{% endfor %}
	</ul>
	{% endif %}
	{% endspaceless -%}
{% endmacro collapse_navigation %}

{% macro collapse_menu (heading, items, _cntx) %}
	{% import _self as generators %}
	<div class="collapse-menu">
		<h4>{{ heading }}</h4>
	{% if items is iterable %}
		{% for i in items %}
			{{ generators.collapse_menu_item (i, _cntx) }}
		{% endfor %}
	{% endif %}
	</div>
{% endmacro collapse_menu %}

{% macro collapse_menu_item (i, _cntx) %}
	{% import _self as generators %}
	<div class="collapse-menu-item">{{ i.print | raw }}</div>
{% endmacro collapse_menu_item %}

{% macro link (target, text, _cntx) %}
<a href="{{- _cntx.public_pages ~ target -}}">{{- text -}}</a>
{% endmacro link %}

{% macro device_item (device, _cntx) %}
	<div>
		<p><a href="{{ _cntx.public_pages }}device?id={{ device._id }}">{{ device._id }}</a></p>
	</div>
{% endmacro device_item %}

{% macro param_link (target, text, params, _cntx) %}
	{%- spaceless -%}
		<a href="{{- _cntx.public_pages ~ target -}}
		{%- if params is iterable -%}
			{{- '?' -}}
			{%- for key, val in params -%}
				{{- key -}}
				{%- if val is not empty -%}
					{{- '=' ~val -}}
				{%- endif -%}
				{{- not loop.last ? '&' : '' -}}
			{%- endfor -%}
		{%- endif -%}
		">{{ text }}</a>
	{%- endspaceless -%}
{% endmacro param_link %}
