{% import 'generators.twig' as generators %}
{#
	Page template for device page.
#}
<h1>Monitoring wizard</h1>
<div class="">
	{% if _cntx.data.error %}
		{{ generators.print_error (_cntx.data.error, _cntx) }}
	{% endif %}
	{% if _cntx.data.phase == 1 %}
		<form action="{{ _cntx.public_pages ~ _cntx.page.name }}?{{ view.id }}" method="post">
			<div class="form-entry">
				<div class="form-text">
					Monitoring area name:
				</div>
				<div class="form-field">
					<input type="text" name="area" autofocus><br>
				</div>
			</div>
			<div class="form-entry">
				<div class="form-field">
					<input type="submit" value="Next">
				</div>
			</div>
			<input type="hidden" name="step" value="{{ _cntx.data.phase }}">
		</form>
	{% elseif _cntx.data.phase == 2 %}
		<form action="{{ _cntx.public_pages ~ _cntx.page.name }}" method="post">
			<div class="form-entry">
				<div class="form-text">
					Available nodes for {{ _cntx.data.target.name }}
				</div>
				<div class="form-field">
					{% for d in _cntx.data.devices %}
						{{ generators.checkbox (d._id, d.name, 'devices[]') }}
					{% endfor %}
				</div>
			</div>
			<div class="form-entry">
				<div class="form-field">
					<input type="submit" value="Next">
				</div>
			</div>
			<input type="hidden" name="area" value="{{ _cntx.data.target._id }}">
			<input type="hidden" name="step" value="{{ _cntx.data.phase }}">
		</form>
	{% elseif _cntx.data.phase == 3 %}
		<p>Devices added to area.</p>
		<a href="{{ _cntx.public_pages }}monitoring?id={{ _cntx.data.target._id }}" class="button">Open modified area</a>
		<a href="{{ _cntx.public_pages }}monitoring" class="button">Back to area list</a>
	{% endif %}
</div>